<section class="mt-5">
    <div class="containter mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Introduction: The section usually begins with a brief introduction to the blog and its creators. This may include a welcome message,
                a brief overview of the blog's purpose, and its target audience.</p>

            <p>Author Bios: Information about the individuals or team members responsible for creating and managing the blog. Each author's bio may include their name, role, 
            background, expertise, and any relevant credentials or qualifications.</p>

            <p>Mission and Values: An explanation of the blog's mission, vision, and values. This section may outline the blog's goals, 
            objectives, and the principles that guide its content and activities</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>

        </div>
    </div>
</section>
