<section class="Featured">
    <div class="container-fluid">
        <h1 class="col-md-12 text-center mt-5 text-white">Featured Posts</h1>
        <p class="col-md-12 text-center text-white">posts are often selected based on their relevance, quality, popularity, or alignment with the platform's goals.</p>           

        <div class="row">
            <div class="col-lg-3">
                <picture >
                    <div class="platform ">
                        <img src="https://i.pinimg.com/originals/02/46/f6/0246f61f385e1cfcac5f4e1c0e485744.jpg" alt="post-image" class="card-img-top">
                        <div class="platform">
                         <small class="bg-light text-danger text-center">Design</small>
                         <small class="bg-light text-success text-center ml-3">Featured</small>
                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                    
                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                    
                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                            
                        </div>
                    </div>
                    </picture>
            </div>
           <div class="col-lg-3">
                <picture >
                    <div class="platform shadow-effect">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.shKM05MQpnZeQOxbnkRgjQHaEo&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                        <div class="platform">
                         <small class="bg-light text-danger text-center">Design</small>
                         <small class="bg-light text-success text-center ml-3">Featured</small>
                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                    
                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                    
                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                            
                        </div>
                    </div>
                    </picture>
            </div>
            <div class="col-lg-3">
                <picture >
                    <div class="platform shadow-effect">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.cWkTfK4MGAYaKKH-P1PmQAHaEo&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                        <div class="platform">
                         <small class="bg-light text-danger text-center">Design</small>
                         <small class="bg-light text-success text-center ml-3">Featured</small>
                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                    
                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                    
                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                            
                        </div>
                    </div>
                    </picture>
            </div>
            <div class="col-lg-3">
                <picture >
                    <div class="platform shadow-effect">
                        <img src="https://tse1.mm.bing.net/th?id=OIP.38tNxUMBJPp8K6SdyrFVJQHaEo&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                        <div class="platform">
                         <small class="bg-light text-danger text-center">Design</small>
                         <small class="bg-light text-success text-center ml-3">Featured</small>
                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                    
                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                    
                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                            
                        </div>
                    </div>
                    </picture>
            </div>
        </div>
    </div>

</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest posts</h2>
    <p>articles or content pieces that are highlighted or given special prominence on the platform's homepage</p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://tse1.mm.bing.net/th?id=OIP.CLkGpEbQaSrPQO84AjP9LgHaGl&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://tse1.mm.bing.net/th?id=OIP.5IhjHoUEp5RmAPLghPT7DQHaFj&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://wallpaperaccess.com/full/388200.jpg" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://thumbs.dreamstime.com/b/colorful-fabric-texture-suitable-as-background-31880555.jpg" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://images6.alphacoders.com/811/811496.jpg" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
    <div class="col-md-4 mt-3">
        <picture >
            <div class="platform shadow-effect">
                <img src="https://tse4.mm.bing.net/th?id=OIP.kQQ4fBqkIUtMoX4EUFNISgHaFj&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                <div class="platform">
                 <small class="bg-light text-danger text-center">Design</small>
                 <small class="bg-light text-success text-center ml-3">Featured</small>
                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
            
                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
            
                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                    
                </div>
            </div>
            </picture>
    </div>
  </div>
   
</section>

























