<div class="bg-theme p-5">
    <div class="container">
    <h1 class="text-white">General Knowledge</h1>
    <p class="text-white">Enables users to create, manage, and publish content on the internet in the form of a blog. </p>
    </div>

</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.dlWvrjHxudvAoPnCPIoslwHaEo&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.X62U9ruaNFiq0G2Vwu5fEwHaE7&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse3.mm.bing.net/th?id=OIP.oEk1ON2Eio4HlEQkk6sIpQHaEK&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.CLkGpEbQaSrPQO84AjP9LgHaGl&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.CLkGpEbQaSrPQO84AjP9LgHaGl&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
        <div class="col-md-4 mb-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.CLkGpEbQaSrPQO84AjP9LgHaGl&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
        </div>
    </div>
</div>