<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://i.stack.imgur.com/hOIuY.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views -160,240</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED -26 FEB 2023</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN We-Predictors</h1>
                    <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.
                        Here's a step-by-step guide:

Sign Up/Registration: Visit the We-Predictors website and sign up for an account if you haven't already. Typically, you'll need to provide an email address, username, and password to register.

Choose a Plan (if applicable): Depending on the platform, there may be different plans available, such as free, basic, or premium plans. Choose the plan that best fits your needs and budget.

Set Up Your Blog: Once you've registered, you can set up your blog. This usually involves selecting a blog name, URL (if applicable), and basic settings such as language and time zone.

Select a Theme: Choose a theme or template for your blog. Themes control the look and layout of your blog, so pick one that reflects your style and the type of content you plan to create.

Customize Your Blog: Customize your chosen theme to make it unique to your brand or personality. This may involve changing colors, fonts, adding a logo, and configuring layout options.

Create Your First Post: Start creating content for your blog by writing your first post. Click on the "New Post" or "Create" button, depending on the platform, and use the built-in editor to write and format your content.

Add Media: Enhance your blog posts by adding images, videos, or other media. Most blogging platforms allow you to upload media directly from your computer or embed media from external sources like YouTube or Flickr.


                    </p>

                </div>
            </div>
            <div class="card mt-5 shadow-effect">
                <div class="card-body">
                    <h4>Leave  a comment </h4>
                    <p>You can leave a comment using this comment form</p>
                 
                    <form>
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control shadow-effect" placeholder="Enter your name here">
                        </div>
                        <div class="form-group">
                            <label for="">Comment</label>
                            <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment here"></textarea>
                        </div>
            
                        <button class="btn btn-info btn-theme">Add a comment</button>
                    </form>
            
                </div>  
            </div>
            <div class="card mb-5 mt-5 pb-5 shadow-effect">
                <div class="card-body">
                    <h4 class="mt-3 mb-3">Comments (15,256)</h4>

                    <div class="comment-box mt-3">
                        <h6 class="mb-0 ">Lakshmi PS</h6>
                        <small class="text-danger">LAST UPDATED -MAR 26,2023</small>

                      <div class="mt-3 mb-3">
                        A comment list refers to the section of a blog post where readers can leave comments or feedback about the content. 
                      </div>  
                      <a href="#" class="mt-1">Reply</a>
                      <a href="#" class="mt-1 ml-3">View Reply</a>
                      
                      <hr>
                    </div>

                    <div class="comment-box mt-3">
                        <h6 class="mb-0 ">Viji RV</h6>
                        <small class="text-danger">LAST UPDATED -MAR 26,2023</small>

                      <div class="mt-3 mb-3">
                        A comment list refers to the section of a blog post where readers can leave comments or feedback about the content. 
                      </div>  
                      <a href="#" class="mt-1">Reply</a>
                      <a href="#" class="mt-1 ml-3">View Reply</a>
                      
                      <hr>
                      
                    </div>

                    <div class="comment-box mt-3">
                        <h6 class="mb-0 ">Bharath AB</h6>
                        <small class="text-danger">LAST UPDATED -MAR 26,2023</small>

                      <div class="mt-3 mb-3">
                        A comment list refers to the section of a blog post where readers can leave comments or feedback about the content. 
                      </div>  
                      <a href="#" class="mt-1">Reply</a>
                      <a href="#" class="mt-1 ml-3">View Reply</a>
                      
                      <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <picture >
                <div class="platform shadow-effect">
                    <img src="https://i.stack.imgur.com/zMoo4.jpg" alt="post-image" class="card-img-top">
                    <div class="platform">
                     <small class="bg-light text-danger text-center">Design</small>
                     <small class="bg-light text-success text-center ml-3">Featured</small>
                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                
                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                
                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                        
                    </div>
                </div>
                </picture>
                <picture >
                    <div class="platform shadow-effect">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.TdjMGoc5f53QLt9rCF22nwHaFO&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                        <div class="platform">
                         <small class="bg-light text-danger text-center">Design</small>
                         <small class="bg-light text-success text-center ml-3">Featured</small>
                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                    
                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                    
                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                            
                        </div>
                    </div>
                    </picture>
                    <picture >
                        <div class="platform shadow-effect">
                            <img src="https://tse1.mm.bing.net/th?id=OIP.OwefDJFihkX46lPorUT-5wHaE8&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                            <div class="platform">
                             <small class="bg-light text-danger text-center">Design</small>
                             <small class="bg-light text-success text-center ml-3">Featured</small>
                             <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                        
                             <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                             <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                        
                             <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                                
                            </div>
                        </div>
                        </picture>
                        <picture >
                            <div class="platform shadow-effect">
                                <img src="https://i.pinimg.com/originals/0b/94/68/0b94683e1b93c0d75f5a14c96dff27bc.jpg" alt="post-image" class="card-img-top">
                                <div class="platform">
                                 <small class="bg-light text-danger text-center">Design</small>
                                 <small class="bg-light text-success text-center ml-3">Featured</small>
                                 <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                            
                                 <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                                 <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                            
                                 <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                                    
                                </div>
                            </div>
                            </picture>
                            <picture >
                                <div class="platform shadow-effect">
                                    <img src="https://tse2.mm.bing.net/th?id=OIP.v7okcpPJiHcsfE9j_cO32AHaEE&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                                    <div class="platform">
                                     <small class="bg-light text-danger text-center">Design</small>
                                     <small class="bg-light text-success text-center ml-3">Featured</small>
                                     <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                                
                                     <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                                     <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                                
                                     <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                                        
                                    </div>
                                </div>
                                </picture>
                                <picture >
                                    <div class="platform shadow-effect">
                                        <img src="https://tse4.mm.bing.net/th?id=OIP.dROzlj8ul9f_ApwttCUXIgHaE7&pid=Api&P=0&h=180" alt="post-image" class="card-img-top">
                                        <div class="platform">
                                         <small class="bg-light text-danger text-center">Design</small>
                                         <small class="bg-light text-success text-center ml-3">Featured</small>
                                         <small class="bg-light text-info text-center ml-3">Views -100,256</small>
                                    
                                         <h5 class="mt-1">HOW TO START A BLOG IN We-Predictors</h5>
                                         <p>Starting a blog on We-Predictors would involve several steps, assuming that We-Predictors is a platform for blogging or sharing predictive content.</p>
                                    
                                         <small class="bg-light text-warning text-center ml-3">LAST UPDATED -DEC 04,2023</small>
                                            
                                        </div>
                                    </div>
                                    </picture>
                 </div>
        
    </div>
</div>


